on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python venv
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: |
          source venv/bin/activate
          pytest -v
      
      - name: Tests failed message
        if: failure()
        run: |
          echo "Тесты не пройдены, ошибка в коде"

  deploy:
    runs-on: self-hosted
    needs: build-and-test
    if: success()

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy
        run: |
          echo "Код успешно прошёл все тесты"
